<div class="container-fluid fixed-top">
  <div class="row">
    <div class="col-md-3" style="background: #edffec;">
      <span></span>
      <h3></h3>
      <p class="" style="font-family:'Poiret One', serif; font-size: 40px;text-align: end;">Luis <span style="font-family:'Rozha One', serif; font-size: 40px;text-align: end;">Rivera</span>
      </p>
      <p style="font-family:'Poiret One', serif; font-size: 17px;text-align: end;">Desarrollador de Software</p>
    </div>
    <div class="col-md-9" style="background: blue;">c</div>
  </div>
</div>
